html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow: hidden;

  //   height: 100vh;
  //   width: 100vw;
}

#root {
  height: 100%;
}

.container {
  // background-color: black;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
p {
  color: white;
}

button:active {
  background-color: white;
  color: black;
  cursor: pointer;
}

button {
  border: 3px solid white;
  background-color: black;
  color: white;
  margin: 1%;
  //   height: 50%;
  //   width: 30%;
  font-size: 2em;
  font-weight: bold;
  padding: 2% 4%;
  //   vertical-align: center;
}
