.projector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;

  .waiting-scr-container {
    flex-grow: 1;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .react-p5 {
      border: none;
    }
  }
}
